<% include ../partials/header.ejs %>

<section id="gallery">
   <div class="container">
   	<div class="row">
         <div class="col-lg-6 mb-6">
            <div class="card login-card">
            	<div>
               <img class="card-img-top tool-image-show" src="<%=tool.url%>" alt="bittools logo">
               <div class="card-body">
                  <h3 class="card-title"><%=tool.name%></h3>
               	<p class="card-text"><span class="label-emphasis">Description:</span> <%=tool.description%></p>
               	<p class="card-text"><span class="label-emphasis">Category:</span> <%=tool.type%></p>
               	<p class="card-text"><span class="label-emphasis">Rental Fee:</span> <%=tool.rentalCost.toLocaleString("en-US", {style: "currency", currency: "USD", minimumFractionDigits: 2})%></p>
               	<p class="card-text"><span class="label-emphasis">Late Fee:</span> <%=tool.lateFee.toLocaleString("en-US", {style: "currency", currency: "USD", minimumFractionDigits: 2})%>/day</p>
               	<p class="card-text">
               		<% if (itemsAvailable) {%>
								<%=itemsAvailable%> available for rent
							<% } else { %>
								<span id="out-of-stock"> Out of stock</span>
							<% } %>
               	</p>
               	<form method="POST" action="/rentals">
							<input type="hidden" name="toolId" value="<%=tool._id%>">
							<% if (itemsAvailable) {%>
								<button class="btn btn-dark">Rent This Tool</button>
							<% } else { %>
								<button class="btn btn-secondary" disabled>Rent This Tool</button>
							<% } %>
						</form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>




<% include ../partials/footer.ejs %>
