<% include ../partials/header.ejs %>

	<h1>Tool Detail</h1>


			<img class="tool-image" src="<%=tool.url%>" >
	<ul>
		
			<li><%=tool.name%></li>
			<li><%=tool.description%></li>
			<li><%=tool.type%></li>
			<li><%=tool.rentalCost%></li>
			<li><%=tool.lateFee%></li>

			
	</ul>

</body>
</html>