<% include ../partials/header.ejs %>

	<h1>Tool Details</h1>

			<img class="tool-image" src="<%=tool.url%>" >
		
			<div>
				<p><%=tool.name%></p>

				<p>Description: <%=tool.description%></p>

				<p>Category: <%=tool.type%></p>

				<p>7-Day Rental: <%=tool.rentalCost.toLocaleString("en-US", {style: "currency", currency: "USD", minimumFractionDigits: 2})%>
				(Late Fee: <%=tool.lateFee.toLocaleString("en-US", {style: "currency", currency: "USD", minimumFractionDigits: 2})%>/day)</p>
			</div>

<% include ../partials/footer.ejs %>
