<% include ../partials/header.ejs %>

<h1>Your Rental History</h1>

<section id="gallery">
   <div class="container">
   	<div class="row">
            <% for(let i = 0; i < rentals.length; i++) { %>
               <div class="col-lg-2 mb-2">
                  <% if (rentals[i].user.username === username) {%>
                     <div class="card">
                        <img class="card-img-top" src="<%=rentals[i].item.tool.url%>" alt="<%=rentals[i].item.tool.name%>">
                        <div class="card-body">
                           <h5 class="card-title"><%=rentals[i].item.tool.name%></h5>
                           <% const d = rentals[i].returnDate %>
                           <p class="card-text">Return Date: 
                           	<%= (d.getMonth() + 1) + "/" 
   										+ d.getDate() + "/" + d.getFullYear()
   									%>		
                           </p>
                           <p class=card-text><a href="/rentals/<%=rentals[i]._id%>">More info...</a></p>
                        </div>
                     <% } %>
               </div>
            </div>
         <%}%>
      </div>
   </div>
</section>

<% include ../partials/footer.ejs %>
