<% include ../partials/header.ejs %>

// <h1><%=tool.name%> Rental:</h1>

<li>Rental Date: <%=rental.startDate%></li>
<li>Rental Due Date: <%=rental.dueDate%></li>
<%if(rental_active == false){ %>
<li>Return Date: <%=rental.returnedDate%></li>
<li>Amount Due: <%=rental.amountDue%></li>
<%}%>
<!-- <li>Total Cost: <%=rental.total_cost%></li> -->

<% include ../partials/footer.ejs %>
